* {
    box-sizing: border-box;
}

/* img {
    max-width: 100%;
}

.featuredImg {
    max-width: 100%;
} */

body {
    margin: 0;
}

.mainHome {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Helvetica';
    font-size: 13vh;
}
