* {
    box-sizing: border-box;
}

/* img {
    max-width: 100%;
}

.featuredImg {
    max-width: 100%;
} */

body {
    margin: 0;
    background-color: rgba(218, 226, 0, 0.02);
}

.mainHome {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:left;
    width: 60vh;
    height: 100vh;
}

h1 {
    font-family: 'Helvetica';
    font-size: 13vh;
}

#instruction {
    font-family: 'Helvetica';
    font-size: 1vh;
    margin-left: 1vh;
}