@font-face {
    font-family: "Instrument-Serif";
    src: url("/fonts/instrumentSerif/InstrumentSerif-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "Instrument-Serif";
    src: url("/fonts/instrumentSerif/InstrumentSerif-Italic.woff2") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: "Redaction_35";
    src: url("/fonts/redaction/Redaction_35-Bold.woff2") format('woff2');
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*.featuredImg {
    max-width: 100%;
} */

body {
    margin: 0;
    background-color: rgb(145, 145, 154);
    font-family: monospace;
    padding: 0;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  Firefox */

}

/* section {

} */

h1 {
    margin: 0;
    padding: 0;
    font-size: 16vh;
    font-family: "pragmatapro-fraktur", serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 10vh;
    font-family: "Instrument-Serif";
    /* font-family: serif; */
    font-weight: 400;
    font-style: normal;
    font-kerning: none;
    color: white;
}

p {
    margin: 0;
    padding: 0;
    font-size: 4vh;
    font-family: "Instrument-Serif";
    color: white;
}