* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*.featuredImg {
    max-width: 100%;
} */

body {
    margin: 0;
    background-color: rgb(97, 97, 97);
    font-family: monospace;
    padding: 0;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.timer {
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 20%;
}