* {
    box-sizing: border-box;
    cursor: context-menu;
}

img {
    max-width: 100%;
}

/*.featuredImg {
    max-width: 100%;
} */

body {
    margin: 0;
    background-color: rgb(230, 233, 197);
    overflow: hidden;
}

a {
    color: black;
}

.files {
    margin: 0;
    font-size: 30pt;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.cabinet {
    transition: background-color 0.2s ease-in-out;
    cursor: grab;
    position: absolute;
}

.highlight {
    background-color: rgb(220, 220, 31);
}