* {
    box-sizing: border-box;
    cursor: context-menu;
}

img {
    max-width: 100%;
}

/*.featuredImg {
    max-width: 100%;
} */

body {
    margin: 0;
    background-color: rgb(230, 233, 197);
    overflow: hidden;
}

a {
    color: black;
}

.files {
    margin: 0;
    font-size: 30pt;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.cabinet {
    transition: background-color 0.2s ease-in-out;
    cursor: grab;
    position: absolute;
}

.highlight {
    background-color: rgb(220, 220, 31);
}

.binaryContainer {
    /* cursor: crosshair;  */
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    height: 100%;
    width: 100%;
}

.binary {
    cursor: not-allowed;
    text-align: center;
}